.list-group-item {
    padding: 50px; 
    background-color: #cfcfd263; 
    cursor: pointer; 
    transition: background-color 0.2s; 
    border-radius: 5px; 
    list-style-type: none;
    
}

.list-group-item:hover:not(.correct-answer):not(.incorrect-answer) {
    background-color: #bfc0c1; 
}

.list-group-item.active {
    background-color: #4CAF50; 
    color: white; 
}

.list-group-item-group1 {
    display: flex;
    gap: 20px;
}

.correct-answer {
    background-color: green ;
    color: white;
}

.incorrect-answer {
    background-color: red ;
    color: white;
}

.highlight-correct-answer {
    background-color: rgb(8, 217, 43) ; 
    color: white;
}

.button-wrapper {
    width: 40%; 
    box-sizing: border-box;
    margin-bottom: 10px; 
    margin-right: 10px;
}

.list-group {
    display: flex; 
    flex-wrap: wrap; 
    gap: 20px; 
}

