.game-over-message {
  background-color: rgb(237, 164, 224);
  color: white;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); 
  text-align: center;
  margin: 6em; 
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.game-over-message button {
  background-color: white;
  color: grey;
  border: none;
  border-radius: 5px;
  padding: 30px 30px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 5px; 
}

.game-over-message h2 {
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 0.2em;
  white-space: nowrap;
}

.game-over-message h3 {
  margin-bottom: 1em;
  font-size: 1.5em;
}

#game-over-message-score {
  margin-bottom: 1em;
  font-size: 2em;
}
