
.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #f2ede3;
    
  }

  .Navbar .home {
    color: #818080;
    text-decoration: none; 
  }
  