.list-group {
    display: flex; /* Use flexbox to arrange items */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    gap: 20px; /* Space between items */
}

.list-group-item {
    padding: 50px; /* Padding for list items */
    background-color: #cfcfd263; /* Light background color */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.2s; /* Smooth transition on hover */
    border-radius: 5px; /*Rounded corners*/
    list-style-type: none;
    
}

.list-group-item:hover:not(.correct-answer):not(.incorrect-answer) {
    background-color: #bfc0c1; 
}

.list-group-item.active {
    background-color: #4CAF50; 
    color: white; 
}

.list-group-item-group1 {
    display: flex;
    gap: 20px;
}

.button-container {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap into rows */
    justify-content: center; /* Center the buttons */
}

.button-wrapper {
    width: 40%; /* Each button takes up half of the container's width */
    box-sizing: border-box; /* Include padding and border in the element's total width */
    margin-bottom: 10px; 
    margin-right: 10px;
}

.correct-answer {
    background-color: green;
    color: white;
}

.incorrect-answer {
    background-color: red;
    color: white;
}

.highlight-correct-answer {
    background-color: rgb(8, 217, 43); 
    color: white;
}