  .question-mark {
    width: 150px;
    height: 200px;
    margin-bottom: 1em;
  }

  #yes{
    width: 80px;
    height: 50px;
    background-color:rgb(251, 223, 131);
    border-radius: 5px; 
    cursor: pointer;
    border: none;
    margin-top: 1em;
  }
  
  #headline{
    margin-bottom: 1em;
    margin-top: 2em;
    color:rgb(243, 153, 17);
    font-family: 'Brush Script MT', cursive;
  }

  .start{
    color:rgb(243, 153, 17)
  }
  
  